/* CONST ================================== */
:root {
    --font-size-base: 16px;

    --main-background-color: #ebebeb;
    --main-border-color: #b0b0b0;

    --block-background-color: #ffffff;
    --button-text-color: #ffffff;

    --white-button-color: #f3f3f3f6;
    --white-button-shadow: #dedede;

    --input-focus-color: #3b7ddd;

    --add-button-color: #4781d7;
    --add-button-shadow-color: #376dbe;

    --red-button-color: #dd2a57;
    --red-button-shadow-color: #ae1a3f;

    --green-button-color: #699a4a;
    --green-button-shadow-color: #507639;

    --gray-background-color: #dfdfdf;
    --gray-text-color: #515151;

    --orange-background-color: #ec742a;
    --badge-main-color: #7e23bf;
    --badge-background-color: #d0226a;

    --layout-color: gray;
}

/* BODY ================================== */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--main-background-color);
    font-size: var(--font-size-base);
}

.scalable-container {
    transition: transform 0.5s ease-in-out;
}

.shopping-cart {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    margin: 1rem 0;
}

.left-block, .right-block{
    background-color: var(--block-background-color);
    border: 1px solid var(--main-border-color);
    border-radius: 6px;
    box-shadow: 0.2rem 0.2rem 0.3rem var(--main-border-color);
}

/* GENERAL ================================== */
/* GENERAL BUTTON --------------------------- */
button {
    padding: 0.3rem 0.7rem;
    border: none;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--layout-color);
    color: var(--button-text-color);
    transition: background-color 0.2s ease, transform 0.1s ease;
}

button:active {
    transform: scale(0.97);
}

/* LEFT ================================== */
/* LEFT ADD ITEM ------------------------- */
.add-item form {
    min-width: 310px;
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid var(--main-border-color);
    align-items: center; 
}

.add-item input {
    flex: 1;
    min-width: 0;   
    padding: 0.5rem;
    font-size: var(--font-size-base);
    font-weight: bold;
    border: 1px solid var(--main-border-color);
    border-radius: 6px 0 0 6px;
    outline: none;
    min-width: 0; 
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.add-item input:focus {
    border-color: var(--input-focus-color);
    box-shadow: 0 0 2px var(--input-focus-color);
}

.add-item button {
    flex-shrink: 0;
    white-space: nowrap;
    padding: 0.68rem 1rem; 
    border-radius: 0 6px 6px 0;
    background-color: var(--add-button-color);
    box-shadow: inset 0 -4px 0 var(--add-button-shadow-color);
}

.add-item button:hover, .add-item button:focus {
    background-color: var(--add-button-shadow-color);
}

/* LEFT ITEM ------------------------- */
.item-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li.item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;   
    padding: 1rem;
    border-bottom: 1px solid var(--main-border-color);
}

li.item:last-of-type  {
    border-bottom: none;
}

/* LEFT ITEM NAME------------------------- */
.item-name {
    flex: 1;
    padding: 0 0.3rem;
    max-width: 90px;
    font-size: var(--font-size-base);
}

input.editable-item {
    border: 1px solid transparent;
    padding: 0.3rem;
    width: 100%;
    outline: none;
    cursor: text;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input.editable-item:focus {
    border: 1px solid var(--input-focus-color);
    box-shadow: 0 0 2px var(--input-focus-color);
}

.item-content {
    display: flex;
    flex: 2 1 200px;
    flex-wrap: wrap;
}

/* LEFT ITEM COUNTER ------------------------- */
.counter {
    display: flex;
    flex: 1 1 70px;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.quantity-btn {
    border-radius: 50%;
    font-size: 1rem;
    font-family: inherit;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.quantity-btn-minus {
    padding: 0.2rem 0.6rem;
    background-color: var(--red-button-color);
    box-shadow: inset 0 -4px 0 var(--red-button-shadow-color);
}

.quantity-btn-minus:hover {
    background-color: var(--red-button-shadow-color);
}

.quantity-btn-plus {
    padding: 0.2rem 0.5rem;
    background-color: var(--green-button-color);
    box-shadow: inset 0 -4px 0 var(--green-button-shadow-color);
}

.quantity-btn-plus:hover {
    background-color: var(--green-button-shadow-color);
}

/* LEFT ITEM PURCHASE ------------------------- */
.item-purchase {
    display: flex;
    min-width: 9rem;
    flex: 0 0 118px;
    justify-content: flex-end;
    gap: 0.3rem;
}

.toggle {
    padding: 0.3rem 0.5rem;
    border-radius: 6px;
    border: 1px solid var(--main-border-color);
    background-color: var(--white-button-color);
    color: var(--main-border-color);
    box-shadow: inset 0 -4px 0 var(--white-button-shadow);
    cursor: pointer;
    font-weight: normal;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.toggle:hover {
    background-color: var(--main-border-color);
    box-shadow: inset 0 -4px 0 var(--main-border-color);
    color: var(--button-text-color);
}

.delete {
    background-color: var(--red-button-color);
    color: var(--button-text-color);
    box-shadow: inset 0 -4px 0 var(--red-button-shadow-color);
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.delete:hover {
    background-color: var(--red-button-shadow-color);
}

/* RIGHT ================================== */
/* RIGHT HEADINGS ------------------------- */
.right-block h2 {
    padding: 0.8rem;
    font-size: calc(var(--font-size-base) * 1.2);
    border-top: 1px solid var(--main-border-color);
    border-bottom: 1px solid var(--main-border-color);
}

.right-block section:first-of-type h2 {
    border-top: none;
    padding-top: 0.1rem;
}

.right-block {
    padding-bottom: 1rem;
}

/* RIGHT REMAINING ------------------------- */
.right-block ul {
    margin: 0;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
}

.right-block .item-count {
    display: flex;
    font-size: var(--font-size-base);
    align-items: center;
    padding: 0.5rem;
    gap: 0.2rem;
    background-color: var(--gray-background-color);
    border-radius: 6px;
    margin: 0.2rem;
}

.right-block .count-number {
    position: relative;
    background-color: var(--orange-background-color);
    color: var(--button-text-color);
    padding: 0.2rem 0.4rem;
    border-radius: 50%;
    font-size: 0.7rem;
    font-weight: bold;
}

/* RIGHT + LEFT PURCHASED ------------------------- */
.bought {
    color: var(--gray-text-color);
    text-decoration: line-through;
}

.bought .count-number {
    color: var(--button-text-color);
    text-decoration: line-through;
}

/* HODDEN ================================== */
.visually-hidden, .not-purchased {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

/* BADGE ================================== */
.badge {
    position: fixed;
    left: 2vw;
    bottom: 0;
    background-color: var(--badge-main-color);
    color: var(--button-text-color);
    padding: 10px 20px;
    border-radius: 12px 12px 0 0; 
    font-weight: bold;
    font-size: 8px;
    cursor: pointer;
    height: 2.5rem;
    max-width: 6.25rem;
    transition: max-width 0.4s ease, height 0.4s ease, background-color 0.4s ease;
}

.badge h1 {
    margin: 0;
}

.badge .author {
    opacity: 0;
    visibility: hidden;
    font-size: 0.6rem;
    transition: opacity 1.5s ease;
}

.badge .author::before {
    content: "Created by:";
    display: block;
    font-weight: normal;
    margin-top: 8.2px;
}

.badge:hover {
    height: 75px;
    max-width: 8rem;
    background-color: var(--badge-background-color); 
}

.badge:hover .author {
    opacity: 1;
    visibility: visible;
}

/* PRINT ================================== */
@media print {
    .badge {
        background-color: white !important;
        border: 1px solid var(--badge-main-color) !important;
        color: var(--badge-main-color) !important;
        height: auto !important;
        padding: 10px !important;
        position: static !important;
        page-break-inside: avoid;
    }

    .badge h1 {
        display: none;
    }

    .badge .author {
        display: block !important;
        opacity: 1 !important;
        visibility: visible !important;
        font-weight: bold !important;
        font-size: 14px !important;
    }
}

/* TOOLTIP ------------------------- */
.tooltip-btn {
    position: relative;
    cursor: pointer;
}

.tooltip-btn::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 115%;
    left: 50%;
    transform: translateX(-50%) scale(0);
    background-color: var(--badge-main-color);
    color: var(--button-text-color);
    opacity: 0;
    padding: 0.3rem 0.5rem;
    border-radius: 0.8rem;
    white-space: nowrap;
    transition: opacity 0.3s ease, transform 0.3s ease;
    font-size: 0.8rem;
    font-weight: normal;
    z-index: 1000;
    pointer-events: none;
}

.tooltip-btn:hover::after, .tooltip-btn:focus::after {
    opacity: 1;
    transform: translateX(-50%) scale(1);
}

/* MEDIA ================================== */
@media (max-width: 500px) {
    .shopping-cart {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px) {
    .scalable-container {
        transform: scale(0.95);
    }

    button {
        padding: 0.2rem 0.6rem;
        font-size: 0.8rem;
    }

    .add-item input {
        font-size: 0.8rem;
        padding: 0.6rem;
    }

    input.editable-item {
        font-size: 0.7rem;
        max-width: 4rem;
    }

    .right-block h2 {
        font-size: 1.2rem;
    }

    .right-block .item-count {
        font-size: 0.8rem;
    }

    .right-block .count-number {
        padding: 0.2rem 0.45rem;
    }

    .badge {
        padding: 8px 18px;
        border-radius: 10px 10px 0 0; 
        font-weight: bold;
        font-size: 6px;
        cursor: pointer;
        height: 2rem;
        max-width: 5rem;
    }
}
